html{
    scroll-behavior: smooth;
}

body{
    min-width: 1200px;

    font-family: 'Raleway';

    background-color: black;
    
}

/*CONTENT 1*/
.content-1{
    margin: 0 auto;
    height: 400px;

    padding-top: 120px;

    border-radius: 20px;

    text-align: center;

    background-image: url(../RESOURCES/update-content-1-BG.png);
    background-size: cover;
    background-position: center;
}
h1{
    font-weight: 400;
    font-size: 100px;
    color: white;
    margin-bottom: 10px;
}
.content-1-p{
    font-weight: 300;
    color:rgb(117, 117, 117);

    margin-bottom: 20px;
}
.content-1-img{
    width: 30px;
    height: 50px;

    opacity: 70%;
}

/*CONTENT 2*/
.content-2{
    padding: 10px 10px 10px 10px;
    height: 100%;
    border-radius: 20px;
    background-image: url(../RESOURCES/section-2-bg.png);
    background-size: cover;
}
.content-2-bar-ul{
    display: block;
    margin-bottom: 5px;
    /* width: 100%; */
    height: 30px;
}
.content-2-bar-li-1{
    display: inline-block;
    vertical-align: top;

    backdrop-filter:blur(2px);
  
}
.content-2-bar-li-2{
    display: inline-block;
    padding: 0px 10px 0px 10px;
    
    height: 30px;

    line-height: 30px;
    text-align: center;

    font-size: 15px;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.135);
    border-radius: 10px;

    backdrop-filter:blur(2px);
}
.content-2-bar-li-2:hover{
    color: white;
    background-color: brown;
}
.content-2-bar-right-ul{
    display: inline-block;

    width: 500px;
    height: 30px;

    
}
.content-2-h2{
    display: block;

    padding-left: 10px;
    
    width: 120px;
    height: 30px;
    line-height: 30px;
    
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 300;

    color: white;

    background-color: brown;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.135);
    border-radius: 10px;

}

.content-2-active-project{
    display: inline-block;
    vertical-align:bottom;
    width: 87%;
    /* min-width: 1200px; */
    height: 100%;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.135);
    border-radius: 20px;
    backdrop-filter:blur(2px);
}
.content-2-acitve-project-info-ul{
    display: inline-block;
    margin-right: 55%;
    vertical-align: top;
    width: 26%;
    height: 120px;
}

.content-2-active-project-info-li-1, .content-2-active-project-info-li-2, .content-2-active-project-info-li-3 {

    border-radius: 10px;

    text-align: left;

}
.content-2-active-project-info-li-1{
    height: 50px;
    line-height: 50px;

    font-size: 30px;
    font-weight: 300;
}
.content-2-active-project-info-li-2{
    height: 30px;
    line-height: 30px;

    font-size: 20px;
    font-weight: 200;
}
.content-2-active-project-info-li-3{
    height: 30px;
    line-height: 30px;

    font-size: 20px;
    font-weight: 200;
}

.content-2-active-project-info-li-a{
    height: 30px;
    line-height: 30px;

    font-size: 20px;
    font-weight: 200;

    color: brown;

    text-decoration: none;
}
.content-2-active-project-info-li-a:hover{
    color:red;
}
.content-2-active-project-soft-ul{
    display: inline-block;
    margin: 0px 0px 40px 0px;
    padding: 14px 0px 0px 0px;
    width: 18%;
    text-align: right;
}
.content-2-active-project-statistic-ul{
    display: inline-block;
    margin-bottom: 150px;
    vertical-align: top;
    width: 20%;
}

.contetnt-2-active-project-statistic-li{

    margin-bottom: 15px;
    font-weight: 300;
    
}

.content-2-active-project-soft-li{
    /* width: 100%; */
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px 5px 0px 5px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    color: rgb(68, 68, 68);
    border: 1px solid rgba(0, 0, 0, 0.140);
    border-radius: 8px;
}
.content-2-active-p{
    display: block;
    /* border: 1px solid red; */
    /* margin: 0px 0px 0px 0px; */
    padding: 0px 10px 0px 0px;
    width: 704px;
    /* min-width: 50%; */
    font-size: 20px;
    line-height: 30px;
    height: 192px;
    /* border-radius: 8px; */
