html{
    scroll-behavior: smooth;
}

body{
    min-width: 1200px;

    font-family: 'Raleway';

    background-color: black;
    
}

/*CONTENT 1*/
.content-1{
    margin: 0 auto;
    height: 400px;

    padding-top: 120px;

    border-radius: 20px;

    text-align: center;

    background-image: url(../RESOURCES/update-content-1-BG.png);
    background-size: cover;
    background-position: center;
}
h1{
    font-weight: 400;
    font-size: 100px;
    color: white;
    margin-bottom: 10px;
}
.content-1-p{
    font-weight: 300;
    color:rgb(117, 117, 117);

    margin-bottom: 20px;
}

/*CONTENT 2*/
.content-2{
    padding: 10px 10px 10px 10px;
    height: 100%;
    border-radius: 20px;
    background-image: url(../RESOURCES/section-2-bg.png);
    background-size: cover;
}
.content-2-ul{
    padding: 0px 15px 0px 15px;
    height: 30px;

    border-radius: 20px;

    backdrop-filter: blur(10px);
}
.content-2-li{
    display: inline-block;

    margin-right: 5px;

    height: 30px;
}
.content-2-li-btn{
    padding: 0px 10px 0px 10px;

    height: 30px;
    line-height: 30px;

    border: none;
    border-radius: 10px;

    color: white;
    background-color: brown;

    font-size: 15px;

}
